<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div>
      <app-origin [formGroup]="originForm"></app-origin>
      <br />
      <div class="div-buttons">
        <button type="button" (click)="delete('origin')">Limpiar</button>
        <button type="button" (click)="traspasar()">Traspasar</button>
      </div>
    </div>
    <div>
      <app-destino [formGroup]="destinoForm"></app-destino>
      <br />
      <button type="button" (click)="delete('destino')">Limpiar</button>
    </div>
  </div>

  <button class="btn-submit" [disabled]="!myForm.valid" type="submit">
    Enviar
  </button>
  <p *ngIf="verFormulario">{{ myForm.value | json }}</p>
</form>
